@rendermode @(new InteractiveWebAssemblyRenderMode(false))
@inject IEpisodeService Service

<h3>Episodes</h3>

<div style="overflow: scroll; height: 500px">
	<Virtualize Items="AvailableEpisodes" Context="episode" ItemSize="200" OverscanCount="2">
		<Placeholder>Loading ...</Placeholder>
		<ItemContent>
			<img src="@episode.Thumbnail"
					 alt="@episode.Title"
					 class="my-2"
					 style="height: 200px; display: block;" />
		</ItemContent>
	</Virtualize>
</div>

@code {

	private Episode[] AvailableEpisodes { get; set; } = [];

	protected override async Task OnParametersSetAsync()
	{

		AvailableEpisodes = await Service.GetEpisodes();

		await base.OnParametersSetAsync();

	}

}
